<p id="notice"><%= notice %></p>
</br>
<div class="font">
  <a class = "font" href="/">Instagram Feed</a>
</div>
<!-- <#% if @recipes.blank? %>
  <h4>Sorry. There are no posts containing the term <%= params[:search] %>.</h4>
<#% end %> -->
<% @photos.each do |photo| %>
<div class="card bg-light mx-auto" style="width: 50rem;">
  <div class="card-block">
    <h4 class="card-title">
      <div class="media">

  <div class="media-body">
    <h5 class="mt-4"><%= photo.user.username %></h5>
  </div>
</div>
</h4>
    <img class="card-img" src="<%= photo.image_url %>" alt="Card image cap">
    <% if current_user.liked? photo %>
    <%= link_to dislike_photo_path(photo), :class => "vote", :method => :put do %>
      <%= image_tag("full_heart.svg.png") %>
    <% end %>
    <span><%= photo.get_upvotes.size %></span>
    <% else %>  <!--show the current vote-->
    <%= link_to like_photo_path(photo), :class => "vote", :method => :put do%>
    <%= image_tag("empty_heart.svg.png") %>
    <% end %>
    <span><%= photo.get_upvotes.size %></span>
    <% end %>
  <!-- <#%= render :partial => '/photos/vote', :class => "vote", :locals => { photo: photo } %> -->
    </br>
    <p class="card-text"><%= photo.caption %></p>
    </br>
    <% if photo.comments %>
      <% photo.comments.each do |comment| %>
        <%= comment.user.username %>:
        <%= comment.content %>
          <% if comment.user == current_user %>
            <%= link_to 'Delete', photo_comment_path(photo, comment), class: "badge badge-danger", method: :delete, data: { confirm: "Are you sure you want to delete your comment?" } %>
          <% end %>
          </br>
      <% end %>
      <div class = "comment_form">
      <%= form_for [photo, photo.comments.new] do |f| %>
        <%= f.text_field :content, placeholder: 'Add a comment...', :html => {:class => 'comment_form'} %>
      <% end %>
      </div>
    <% end %>
    </br>
    <% if photo.user.id == current_user.id %>
      <%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-primary" %>
      <%= link_to 'Destroy', photo, method: :delete, class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
    <%end%>
  </div>
</div>

<% end %>
