<p id="notice"><%= notice %></p>
</br>
<h1>Instagram Feed</h1>
<!-- <#% if @recipes.blank? %>
  <h4>Sorry. There are no posts containing the term <%= params[:search] %>.</h4>
<#% end %> -->
<% @photos.each do |photo| %>
<div class="card bg-light mx-auto" style="width: 50rem;">
  <div class="card-block">
    <h4 class="card-title"><%= photo.user.username %></h4>
    <img class="card-img" src="<%= photo.image_url %>" alt="Card image cap">
    <% if current_user.liked? photo %>
    <%= link_to "❤️", dislike_photo_path(photo), :class => "vote", :method => :put %>
    <span><%= photo.get_upvotes.size %></span>
    <% else %>  <!--show the current vote-->
    <%= link_to '♡', like_photo_path(photo), :class => "vote", :method => :put %>
    <span><%= photo.get_upvotes.size %></span>
    <% end %>
  <!-- <#%= render :partial => '/photos/vote', :class => "vote", :locals => { photo: photo } %> -->
    </br>
    <p class="card-text"><%= photo.caption %></p>
    </br>
    <% if photo.comments %>
      <% photo.comments.each do |comment| %>
        <%= comment.user.username %>:
        <%= comment.content %>
          <% if comment.user == current_user %>
            <%= link_to 'Delete', photo_comment_path(photo, comment), class: "badge badge-danger", method: :delete, data: { confirm: "Are you sure you want to delete your comment?" } %>
          <% end %>
          </br>
      <% end %>
      <%= form_for [photo, photo.comments.new] do |f| %>
        <%= f.text_field :content, placeholder: 'Add a comment...' %>
      <% end %>
    <% end %>
    </br>
    <% if photo.user.id == current_user.id %>
      <%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-primary" %>
      <%= link_to 'Destroy', photo, method: :delete, class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
    <%end%>
  </div>
</div>

<% end %>
